@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main{
    margin: 1rem;
    font-family: 'Merriweather', serif;
    text-align: center;
    padding: 2rem 0;
}

.main .title{
    color: white;
    font-size: 43px;
}

body{
    background-image: url(../assets/img/bgImg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #00000085;
    background-blend-mode: color-burn;
    background-attachment: fixed;
}
.container .add input{
    padding: 10px 12px;
    max-width: 800px;
    width: 80%;
    min-width: 200px;
    min-height: 60px;
    margin-top: 2rem;
    margin-bottom: 5px;
    background-color: #dbdbdba5;
    color: white;
    font-size: 19px;
    border-radius: 10px;
    border: 3px solid rgb(96, 96, 96);
    border-radius: 5px;
    outline: none;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.container .add input:is(:hover, :focus){
    box-shadow: 2px 2px 10px rgb(201, 201, 201);
    background-color: rgb(22, 22, 22);
    border: 2px solid rgb(203, 203, 203);
}

.container .add i{
    max-height: 40px;
    min-height: 50px;
    min-width: 50px;
    cursor: pointer;
    border: 2px solid rgb(240, 240, 240);
    background-color: rgb(79, 79, 79);
    padding: 15px;
    color: white;
    border-radius: 5px;
}
.container .add i:is(:hover, :focus){
    background-color: black;
    box-shadow: 2px 2px 4px rgb(141, 141, 141);
}
.container #msgBox{
    color: red;
    display: none;
}

.lists ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    margin-top: 2rem;
    width: 100%;
}

.lists ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 200px;
    max-width: 800px;
    width: 90%;
    min-height: 50px;
    font-family: cursive;
    font-weight: bold;
    list-style: none;
    border: 2px solid #626262;
    word-wrap: break-word;
    background: rgb(216, 216, 216);
    color: rgb(59, 59, 59);
    border-radius: 5px;
    margin: 10px auto;
    cursor: pointer;
    padding: 10px;
    font-size: 20px;
    text-align: left;
    box-shadow: 2px 3px 18px rgb(142, 142, 142);
}

.lists ul li:hover{
    background-color: black;
    color: white;
    transform: scale(1.03);
    box-shadow: 2px 3px 18px white;
}

.lists .icons{
    float: right;
}

.lists ul li  i{
    cursor: pointer;
    border: 2px solid rgb(19, 19, 101);
    background-color: rgb(20, 17, 90);
    padding: 5px;
    color: white;
    border-radius: 10px;
    font-size: 15px;
}

.done{
    color: rgb(131, 131, 131);
    text-decoration: line-through 2px rgb(0, 0, 0);
}

.doneTsk::before{
    content: "✔";
    
}

.lists ul li .left-side{
    width: 60%;
    display: inline-block;
}

/* @media screen and (max-width: 630px) {
    .container .add input{
        width: 75%;
    }
    .lists ul li{
        width: 85%;
        margin: auto;
        margin: 10px;
    }
    .lists ul{
        display: unset;
    }
    .lists{
        margin-top: 1rem;
    }
} */